/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Nerko One", cursive;
}

main,
footer {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* ! HEADER */

.header-title {
  color: #ff9614;
  font-size: 3.5rem;
  padding: 0.7rem 2rem;
  text-shadow: 1px 1px #a0a0a0;
}
